"Project Implementation"\"Messaging App Codebase"\bin\*
"Project Implementation"\"Messaging App Codebase"\*.pro.user
"Project Implementation"\"Messaging App Codebase"\*.pro.user.*
"Project Implementation"\build-MessagingAppImplementation-Desktop-Debug\*
*.o
